* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(230, 218, 196);
}
table.table-bordered {
    background-color: rgb(250, 220, 170);
}
button.btn-outline-success {
    margin-right: 5px;
}